[submodule "FQuadTX/Platform"]
	path = FQuadTX/Platform
	url = https://github.com/fk2wong/Platform_ATmega328p.git
[submodule "FQuadTX/Shared"]
	path = FQuadTX/Shared
	url = https://github.com/fk2wong/Shared.git
